{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="password-protection">

    <h2 style="margin-bottom: 0;">{{ pp_config.headline }}</h2>
    <p>{{ pp_config.description|nl2br|markdown }}</p>

   <form action="{{ page.header.slug }}" method="post" id="pp_form">
        <fieldset>

            <!-- Password input-->
            <div class="pp_password_wrapper">
                <label for="password">{{ pp_config.password_label }}</label><br/>
                <input id="password" name="password" type="password" placeholder="{{ pp_config.password_placeholder }}" autofocus />
            </div>

            <!-- Antispam input-->
            <div class="pp_antispam_wrapper">
                <input id="antispam" name="antispam" type="hidden" placeholder="antispam" />
            </div>

            <!-- Form actions -->
            <div class="pp_submit_wrapper">
				<br/>
                <button class="button" type="submit">{{ pp_config.submit_label }}</button>
            </div>

        </fieldset>
    </form>
</div>

{% endblock %}

